---
interface Props {
  "pen:tab"?: string;
  "pen:height"?: number;
  "pen:title": string;
  "pen:author": string;
  "pen:hash": string;
}

const {
  "pen:tab": defaultTab = "result",
  "pen:height": penHeight = 300,
  "pen:title": penTitle,
  "pen:author": penAuthor,
  "pen:hash": penHash,
} = Astro.props;

const penUrl = `https://codepen.io/${penAuthor}/pen/${penHash}`;
const penAuthorUrl = `https://codepen.io/${penAuthor}`;
---

<script src="./script.ts"></script>

<p
  class="codepen flex items-center justify-center p-8 border-2 border-solid border-zinc-700 dark:border-zinc-400 bg-white dark:bg-zinc-950"
  data-height={String(penHeight)}
  data-default-tab={defaultTab}
  data-slug-hash={penHash}
  data-pen-title={penTitle}
  data-user={penAuthor}
  style={`min-height: ${penHeight}px;`}
>
  <span>
    See the Pen <a href={penUrl} rel="noreferrer" target="_blank">{penTitle}</a>
    (by
    <a href={penAuthorUrl} rel="noreferrer" target="_blank">@{penAuthor}</a>) on
    <a href="https://codepen.io" rel="noreferrer" target="_blank">CodePen</a>.
  </span>
</p>
